Repository TropixInc/nft-tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, source, important, ci

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

test:
- test/*

source:
- any: ['src/**/*', '!src/docs/*']

important:
- any: ['package.json', '.env.example', 'Dockerfile', '.nvmrc', 'tsconfig.json']

ci:
- any: ['.github/*', 'Dockerfile', 'scripts/check-build-env.mjs']

feat(verify mint): adding resync of mint check after one hour from last check
  src/modules/queue/enums/index.ts
  src/modules/tokens/queue/tokens-job.processor.ts
  src/modules/tokens/tokens-jobs-verify-mint.service.ts
Labels: source

chore(release): 0.0.5
  CHANGELOG.md
  package-lock.json
  package.json
Labels: repo

docs: update technical documentation
  README.md
  docs/images/authorizations.png
  docs/images/nfts.png
Labels: repo

chore: deleting unused resources
  email-templates/account-confirmation-email/default.html
  email-templates/account-confirmation-email/invite.html
  email-templates/account-confirmation-email/retry.html
  email-templates/account-confirmation-email/signup-code.html
  email-templates/account-confirmation-email/signup.html
  email-templates/complete-account-email/complete-account-email.html
  http/_test_find_user.http
  http/auth.http
  http/tenant-integration.http
Labels: none

feat(token): adding swagger response
  src/common/dtos/pagination.dto.ts
  src/modules/tokens/dtos/nft-reponse.dto.ts
  src/modules/tokens/interfaces/index.ts
  src/modules/tokens/tokens.controller.ts
Labels: source

docs: adding summary
  README.md
Labels: repo

feat(backoff): starting backoff fetch metadata
  src/modules/tokens/entities/tokens-jobs.entity.ts
  src/modules/tokens/tokens-jobs-fetch-metadata.service.ts
Labels: source

chore(release): 0.0.6
  CHANGELOG.md
  package-lock.json
  package.json
Labels: repo

feat(fetch metadata): adding backoff when error is too many request
  src/modules/database/migrations/1697466460185-AddAttempsTokenJob.ts
  src/modules/tokens/tokens-jobs-fetch-metadata.service.ts
  src/modules/tokens/tokens-jobs.service.ts
Labels: source

feat(fetch metadata): adding backoff when error is too many request (#17)
  src/modules/database/migrations/1697466460185-AddAttempsTokenJob.ts
  src/modules/tokens/entities/tokens-jobs.entity.ts
  src/modules/tokens/tokens-jobs-fetch-metadata.service.ts
  src/modules/tokens/tokens-jobs.service.ts
Labels: source

chore(release): 0.0.7
  CHANGELOG.md
  package-lock.json
  package.json
Labels: repo

feat(events): listening for new block events
  .github/workflows/create-release-branch.yml
  cspell.json
  src/app.module.ts
  src/config/app.config.ts
  src/modules/blockchain/blockchain.module.ts
  src/modules/blockchain/evm/evm-events.services.ts
  src/modules/blockchain/evm/evm.module.ts
  src/modules/blockchain/evm/evm.service.ts
  src/modules/blockchain/evm/providers/ERC721.provider.ts
  src/modules/blockchain/evm/queue/evm-events-watcher.processor.ts
  src/modules/configuration/interfaces/schema-generated.ts
  src/modules/contracts/contract.module.ts
  src/modules/database/migrations/1697634294652-EvmSampleConf.ts
  src/modules/health/blockchain.health.ts
  src/modules/health/health.module.ts
  src/modules/tokens/tokens.module.ts
Labels: repo, source

feat: creating structure to process logs
  src/modules/blockchain/evm/constants/index.ts
  src/modules/blockchain/evm/evm-events.services.ts
  src/modules/blockchain/evm/evm.module.ts
  src/modules/blockchain/evm/evm.service.ts
  src/modules/blockchain/evm/interfaces/index.ts
  src/modules/blockchain/evm/queue/evm-events-worker.processor.ts
  src/modules/contracts/contract.module.ts
  src/modules/contracts/contract.service.ts
  src/modules/health/health.controller.ts
  src/modules/queue/enums/index.ts
  src/modules/queue/queue.health.ts
  src/modules/queue/queue.module.ts
  src/modules/queue/queues/index.ts
  src/modules/tokens/tokens.module.ts
Labels: source

fix(heath): fixing check of queue
  src/modules/queue/queue.health.ts
Labels: source

feat(blockchain health) adding check about status websocket
  src/modules/blockchain/evm/evm.service.ts
  src/modules/health/blockchain.health.ts
Labels: source

feat(events): parsing ERC721 contract events of transfer
  cspell.json
  package-lock.json
  package.json
  src/modules/blockchain/evm/evm-events.services.ts
  src/modules/blockchain/evm/interfaces/index.ts
  src/modules/blockchain/evm/utils/format.ts
Labels: repo, source

feat(event): save transfer event
  src/modules/blockchain/evm/evm-events.services.ts
  src/modules/blockchain/evm/evm.module.ts
  src/modules/blockchain/evm/evm.service.ts
  src/modules/blockchain/evm/interfaces/index.ts
  src/modules/blockchain/evm/providers/ERC721.provider.ts
  src/modules/database/migrations/1698069130114-AddTokenTransferEntity.ts
  src/modules/tokens/dtos/create-contract.dto.ts
  src/modules/tokens/entities/tokens-transfer.entity.ts
  src/modules/tokens/entities/tokens.entity.ts
  src/modules/tokens/interfaces/index.ts
  src/modules/tokens/tokens-jobs-verify-mint.service.ts
  src/modules/tokens/tokens-transfer.service.ts
  src/modules/tokens/tokens.module.ts
Labels: source

fix(queue): sync block
  src/modules/blockchain/evm/queue/evm-events-worker.processor.ts
Labels: source

feat(token): creating the token when it has just been minted
  src/modules/blockchain/evm/evm.service.ts
  src/modules/blockchain/evm/queue/evm-events-watcher.processor.ts
  src/modules/queue/enums/index.ts
  src/modules/tokens/tokens-transfer.service.ts
Labels: source

feat(verify mint): putting the bull in control of the next items to be verify at the mint
  src/modules/queue/enums/index.ts
  src/modules/tokens/queue/tokens-job.processor.ts
  src/modules/tokens/tokens-jobs-verify-mint.service.ts
Labels: source

refactor(evm): changing the way the module is declared
  src/app.module.ts
  src/modules/blockchain/evm/evm.module.ts
  src/modules/blockchain/evm/queue/evm-events-watcher.processor.ts
  src/modules/contracts/contract.module.ts
  src/modules/health/health.module.ts
  src/modules/tokens/tokens-transfer.service.ts
  src/modules/tokens/tokens.module.ts
Labels: source

fix(health): checking wss provider is ready
  src/modules/blockchain/evm/evm.service.ts
Labels: source

chore(release): 0.0.8
  CHANGELOG.md
  package-lock.json
  package.json
Labels: repo

perf: adding index on tables to improvement performance and cpu on database
  src/modules/database/migrations/1698242902306-AddTokenJobIndex.ts
  src/modules/database/migrations/1698243298307-AddTokensIndex.ts
  src/modules/database/migrations/1698244322611-AddTokenIndexAddressAndChainId.ts
  src/modules/database/migrations/1698244423373-AddTokenJobsIndexAddressAndChainId.ts
  src/modules/database/migrations/1698245256021-RemoveDefaultTokensMetadata.ts
  src/modules/database/migrations/1698247348898-AddHasMetadataOnTokenEntity.ts
  src/modules/database/migrations/1698247627802-AddIndexOnTokenEntity.ts
  src/modules/tokens/entities/tokens-jobs.entity.ts
  src/modules/tokens/entities/tokens.entity.ts
  src/modules/tokens/interfaces/index.ts
  src/modules/tokens/queue/tokens-job.processor.ts
  src/modules/tokens/tokens-jobs-fetch-metadata.service.ts
Labels: source

perf(tokens): adding has asset
  src/modules/database/migrations/1698325540329-AddAssetIdIndex.ts
  src/modules/database/migrations/1698336757028-AddHasAssetCollumn.ts
  src/modules/tokens/entities/tokens.entity.ts
  src/modules/tokens/tokens-jobs-fetch-metadata.service.ts
  src/modules/tokens/tokens-jobs-upload-asset.service.ts
Labels: source

chore(release): 0.0.9
  CHANGELOG.md
  package-lock.json
  package.json
Labels: repo

feat(events): synchronizing previous blocks when the pod is restarted
  cspell.json
  src/common/util/number.util.ts
  src/modules/blockchain/evm/dto/sync-block.dto.ts
  src/modules/blockchain/evm/evm-events.services.ts
  src/modules/blockchain/evm/queue/evm-events-watcher.processor.ts
  src/modules/blockchain/evm/queue/evm-events-worker.processor.ts
Labels: repo, source

fix(verify mint): changing to use `executeAt`
  src/modules/tokens/tokens-jobs-verify-mint.service.ts
Labels: source

chore(release): 0.0.10
  CHANGELOG.md
  package-lock.json
  package.json
Labels: repo

fix(cache): fix save ttl
  package-lock.json
  package.json
  src/common/helpers/cache.helper.ts
  src/modules/blockchain/evm/evm-events.services.ts
  src/modules/queue/queues/index.ts
Labels: repo, source

chore(release): 0.0.11
  CHANGELOG.md
  package-lock.json
  package.json
Labels: repo

fix(queue): removing attempts and adding remove when finished or failed
  src/modules/blockchain/evm/evm-events.services.ts
  src/modules/blockchain/evm/evm.service.ts
  src/modules/blockchain/evm/queue/evm-events-worker.processor.ts
Labels: source

chore(release): 0.0.12
  CHANGELOG.md
  package-lock.json
  package.json
Labels: repo

feat(health): adding blockchain and queue on indicators to readiness
  src/modules/health/health.controller.ts
  src/modules/tokens/tokens-jobs-verify-mint.service.ts
Labels: source

chore(release): 0.0.13
  CHANGELOG.md
  package-lock.json
  package.json
Labels: repo

refactor(token jobs): removing query using ilike
  src/modules/tokens/tokens-jobs-fetch-metadata.service.ts
  src/modules/tokens/tokens-jobs-upload-asset.service.ts
Labels: source

feat: save asset token job on token
  src/modules/blockchain/evm/providers/ERC721.provider.ts
  src/modules/database/migrations/1699877504461-AddAssetTokenJobOnTokenEntity.ts
  src/modules/health/health.controller.ts
  src/modules/queue/enums/index.ts
  src/modules/tokens/entities/tokens.entity.ts
  src/modules/tokens/queue/tokens-job.processor.ts
  src/modules/tokens/tokens-jobs-fetch-metadata.service.ts
  src/modules/tokens/tokens-jobs-upload-asset.service.ts
Labels: source

feat(ethers): register moonbeam and moonriver network
  src/modules/blockchain/evm/evm.service.ts
  src/modules/blockchain/evm/helpers/register-network.ts
Labels: source

feat(ethers): register json rpc provider with network arg
  src/modules/blockchain/evm/evm.service.ts
  src/modules/blockchain/evm/helpers/register-network.ts
Labels: source

feat: increase paginate limit
  src/common/dtos/pagination.dto.ts
  src/config/app.config.ts
  src/modules/tokens/dtos/contract-address-tokens-request.dto.ts
  src/modules/tokens/dtos/owner-address-tokens-request.dto.ts
Labels: source
