Repository TropixInc/nft-tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, source, important, ci

feat: add apache 2.0 license
  LICENSE
Labels: repo

chore: nestjs dependency updates
  package-lock.json
  package.json
  src/app.module.ts
  src/common/decorators/cdn-cache.decorator.ts
  src/common/helpers/connection.helper.ts
  src/common/helpers/pagination.helper.ts
  src/common/microservices/redis.config.ts
  src/modules/configuration/configuration.service.ts
  src/modules/health/health.controller.ts
  src/modules/webhook/entities/webhook-attempt.entity.ts
  src/modules/webhook/interfaces/index.ts
  src/modules/webhook/webhook.service.ts
Labels: repo, source

feat: updating project dependencies
  package-lock.json
  package.json
  src/app.module.ts
  src/common/helpers/cache.helper.ts
  src/common/helpers/iterator.helper.ts
  src/modules/health/health.module.ts
Labels: repo, source

feat: updating project dependencies
  package-lock.json
  package.json
Labels: repo

feat: updating throttler config
  src/app.module.ts
  src/common/guards/throttler-behind-proxy.guard.ts
  src/common/interfaces/index.ts
Labels: source

feat(contract): creating basic contract structure
  package-lock.json
  package.json
  src/app.module.ts
  src/common/dtos/entity-dto-mapper.dto.ts
  src/modules/contracts/contract.controller.ts
  src/modules/contracts/contract.module.ts
  src/modules/contracts/contract.service.ts
  src/modules/contracts/dtos/contract-entity.dto.ts
  src/modules/contracts/dtos/create-contract.dto.ts
  src/modules/contracts/entities/contract.entity.ts
  src/modules/contracts/exceptions/index.ts
  src/modules/contracts/interfaces/index.ts
  src/modules/database/migrations/1693928210110-AddContractEntity.ts
Labels: repo, source

feat(contract): starting blockchain structure
  cspell.json
  package-lock.json
  package.json
  src/app.module.ts
  src/modules/blockchain/blockchain.module.ts
  src/modules/blockchain/evm/ethereum.service.ts
  src/modules/blockchain/evm/interfaces/ERC721.d.ts
  src/modules/blockchain/evm/providers/ERC721.provider.ts
  src/modules/blockchain/evm/static/erc721.abi.json
  src/modules/blockchain/exceptions/index.ts
  src/modules/contracts/contract.module.ts
  src/modules/contracts/contract.service.ts
  src/modules/contracts/entities/contract.entity.ts
  src/modules/database/migrations/1694704273798-ChangeTotalSupplyToNullable.ts
Labels: repo, source

feat(tokens): importing the tokens of a contract
  .vscode/settings.json
  cspell.json
  src/app.module.ts
  src/modules/blockchain/evm/providers/ERC721.provider.ts
  src/modules/blockchain/evm/static/erc721.abi.json
  src/modules/contracts/contract.controller.ts
  src/modules/contracts/contract.module.ts
  src/modules/contracts/contract.service.ts
  src/modules/contracts/dtos/contract-entity.dto.ts
  src/modules/contracts/entities/contracts.entity.ts
  src/modules/database/migrations/1695044831578-AddTokensEntities.ts
  src/modules/database/migrations/1695135988319-AddDateControllerOnTokenJobEntity.ts
  src/modules/health/health.controller.ts
  src/modules/queue/enums/index.ts
  src/modules/queue/queue.config.ts
  src/modules/queue/queue.health.ts
  src/modules/queue/queue.module.ts
  src/modules/queue/queues/index.ts
  src/modules/tokens/dtos/create-contract.dto.ts
  src/modules/tokens/entities/tokens-jobs.entity.ts
  src/modules/tokens/entities/tokens.entity.ts
  src/modules/tokens/enums/index.ts
  src/modules/tokens/exceptions/index.ts
  src/modules/tokens/interfaces/index.ts
  src/modules/tokens/queue/tokens-job.processor.ts
  src/modules/tokens/tokens-jobs-verify-mint.service.ts
  src/modules/tokens/tokens-jobs.service.ts
  src/modules/tokens/tokens.controller.ts
  src/modules/tokens/tokens.module.ts
  src/modules/tokens/tokens.service.ts
  src/modules/webhook/queue/webhook.processor.ts
Labels: repo, source

feat(token): fetch metadata
  cspell.json
  src/common/helpers/request.helpers.ts
  src/modules/database/migrations/1695307733037-CreateTokensJobsIndex.ts
  src/modules/queue/enums/index.ts
  src/modules/tokens/entities/tokens-jobs.entity.ts
  src/modules/tokens/entities/tokens.entity.ts
  src/modules/tokens/interfaces/index.ts
  src/modules/tokens/queue/tokens-job.processor.ts
  src/modules/tokens/tokens-jobs-fetch-metadata.service.ts
  src/modules/tokens/tokens-jobs-verify-mint.service.ts
  src/modules/tokens/tokens.module.ts
Labels: repo, source

feat(metadata): sanitize uri
  src/modules/tokens/queue/tokens-job.processor.ts
  src/modules/tokens/tokens-jobs-fetch-metadata.service.ts
Labels: source

feat(jobs): using for key share mode to gets nexts jobs to execute
  src/common/interceptors/cache.interceptor.ts
  src/modules/tokens/queue/tokens-job.processor.ts
  src/modules/tokens/tokens-jobs-fetch-metadata.service.ts
  src/modules/tokens/tokens-jobs-verify-mint.service.ts
Labels: source

feat(token): using upsert when importing tokens
  src/modules/database/migrations/1695651725767-ConvertTokenIdToBigInt.ts
  src/modules/database/migrations/1695651993226-SetTokenIdWithNotNull.ts
  src/modules/database/migrations/1695654174335-RRenameUniqueIndexToken.ts
  src/modules/tokens/dtos/contract-address-tokens-paginate.dto.ts
  src/modules/tokens/entities/tokens.entity.ts
  src/modules/tokens/tokens-jobs-verify-mint.service.ts
  src/modules/tokens/tokens.controller.ts
  src/modules/tokens/tokens.service.ts
Labels: source

feat(nfts): creating the routes that return NFTs from a contract and by owner
  .env.example
  infra/generated/.env.example
  infra/generated/secret.yaml
  infra/generated/summary.md
  infra/generated/vars.yaml
  src/modules/blockchain/evm/providers/ERC721.provider.ts
  src/modules/database/migrations/1695734896893-AddAddressAndChainIdReferenceOnTokenEntity.ts
  src/modules/database/migrations/1695736702653-AddOwnerAddressTokenEntity.ts
  src/modules/database/migrations/1695737349115-AddNewTypeOnTokenJobs.ts
  src/modules/tokens/dtos/contract-address-tokens-request.dto.ts
  src/modules/tokens/dtos/owner-address-tokens-request.dto.ts
  src/modules/tokens/entities/tokens.entity.ts
  src/modules/tokens/enums/index.ts
  src/modules/tokens/interfaces/index.ts
  src/modules/tokens/mappers/nfts.mapper.ts
  src/modules/tokens/tokens-jobs-verify-mint.service.ts
  src/modules/tokens/tokens.controller.ts
  src/modules/tokens/tokens.service.ts
Labels: repo, source

feat(nfts): checking owner address
  src/modules/blockchain/evm/interfaces/ERC721.d.ts
  src/modules/blockchain/evm/providers/ERC721.provider.ts
  src/modules/blockchain/evm/static/erc721.abi.json
  src/modules/queue/enums/index.ts
  src/modules/tokens/queue/tokens-job.processor.ts
  src/modules/tokens/tokens-jobs-fetch-owner-address.service.ts
  src/modules/tokens/tokens.module.ts
Labels: source

Update Dockerfile
  Dockerfile
Labels: repo

refactor(metadata): removing the use of transaction
  src/modules/queue/enums/index.ts
  src/modules/tokens/queue/tokens-job.processor.ts
  src/modules/tokens/tokens-jobs-fetch-metadata.service.ts
Labels: source

refactor(owner address): removing the use of transaction
  src/main.ts
  src/modules/queue/enums/index.ts
  src/modules/tokens/queue/tokens-job.processor.ts
  src/modules/tokens/tokens-jobs-fetch-owner-address.service.ts
Labels: source

fix(verify mint): changing verification
  src/modules/tokens/tokens-jobs-verify-mint.service.ts
Labels: source

feat(asset): upload asset from token
  .env.example
  cspell.json
  infra/generated/.env.example
  infra/generated/secret.yaml
  src/config/app.config.ts
  src/modules/database/migrations/1696348045289-AddTokenAssetEntity.ts
  src/modules/database/migrations/1696351177214-AddAddressAndChainIdWithNullable.ts
  src/modules/database/migrations/1696423872615-AddIndexTokenAsset.ts
  src/modules/queue/enums/index.ts
  src/modules/tokens/entities/tokens-assets.entity.ts
  src/modules/tokens/entities/tokens-jobs.entity.ts
  src/modules/tokens/entities/tokens.entity.ts
  src/modules/tokens/enums/index.ts
  src/modules/tokens/interfaces/index.ts
  src/modules/tokens/mappers/nfts.mapper.ts
  src/modules/tokens/queue/tokens-job.processor.ts
  src/modules/tokens/tokens-jobs-fetch-metadata.service.ts
  src/modules/tokens/tokens-jobs-fetch-owner-address.service.ts
  src/modules/tokens/tokens-jobs-upload-asset.service.ts
  src/modules/tokens/tokens-jobs-verify-mint.service.ts
  src/modules/tokens/tokens-jobs.service.ts
  src/modules/tokens/tokens.module.ts
  src/modules/tokens/tokens.service.ts
Labels: repo, source

feat(nft): creating route to return metadata from a token
  src/modules/database/migrations/1696515829028-AddRefreshTokenTypeOnTokenJobs.ts
  src/modules/tokens/dtos/nft-by-token-request.dto.ts
  src/modules/tokens/enums/index.ts
  src/modules/tokens/exceptions/index.ts
  src/modules/tokens/tokens-jobs.service.ts
  src/modules/tokens/tokens.controller.ts
  src/modules/tokens/tokens.service.ts
Labels: source

feat: adding refresh token
  src/modules/queue/enums/index.ts
  src/modules/tokens/queue/tokens-job.processor.ts
  src/modules/tokens/tokens-jobs-fetch-metadata.service.ts
  src/modules/tokens/tokens-jobs-refresh-token.service.ts
  src/modules/tokens/tokens-jobs-upload-asset.service.ts
  src/modules/tokens/tokens-jobs-verify-mint.service.ts
  src/modules/tokens/tokens.module.ts
Labels: source

Update Dockerfile
  Dockerfile
Labels: repo

feat(auth): adding authentication key via API
  cspell.json
  package-lock.json
  package.json
  src/app.module.ts
  src/common/validators/custom-validators.ts
  src/config/swagger.config.ts
  src/modules/auth/apikey-auth.guard.ts
  src/modules/auth/apikey.strategy.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/auth.service.ts
  src/modules/configuration/configuration.controller.ts
  src/modules/configuration/interfaces/schema-generated.ts
  src/modules/contracts/contract.controller.ts
  src/modules/contracts/dtos/create-contract.dto.ts
  src/modules/database/migrations/1696853553311-ApiKeysConf.ts
Labels: repo, source

fix(token): only caching the image if it is active in the contract
  src/modules/tokens/tokens-jobs-refresh-token.service.ts
Labels: source

fix(swagger): fixed swagger annotation for api key
  src/config/swagger.config.ts
  src/modules/auth/constants.ts
  src/modules/configuration/configuration.controller.ts
  src/modules/contracts/contract.controller.ts
Labels: source

fix: checking uri is just hash and fix to ipfs uri
  src/modules/blockchain/evm/ethereum.service.ts
  src/modules/blockchain/evm/providers/ERC721.provider.ts
  src/modules/blockchain/evm/utils/index.ts
  src/modules/tokens/tokens-jobs-fetch-metadata.service.ts
Labels: source

edit dockerfile
  Dockerfile
Labels: repo

fix: sanitize uri
  src/modules/blockchain/evm/providers/ERC721.provider.ts
  src/modules/tokens/tokens-jobs-fetch-metadata.service.ts
Labels: source

fix(token): fixed gateway return for token uri
  src/modules/blockchain/evm/utils/index.ts
  src/modules/tokens/mappers/nfts.mapper.ts
  src/modules/tokens/tokens-jobs-fetch-metadata.service.ts
Labels: source

feat(contract): updating total supply
  src/modules/tokens/tokens-jobs-verify-mint.service.ts
Labels: source

feat(contract): sync total supply
  src/modules/contracts/contract.service.ts
  src/modules/queue/enums/index.ts
  src/modules/tokens/queue/tokens-job.processor.ts
  src/modules/tokens/tokens-jobs-verify-mint.service.ts
  src/modules/tokens/tokens.module.ts
Labels: source

fix(asset): only uploading asset with true cache media
  src/modules/tokens/tokens-jobs-upload-asset.service.ts
Labels: source

feat(metadata): extracting metadada when token uri is json
  src/modules/tokens/tokens-jobs-fetch-metadata.service.ts
Labels: source

chore(release): 0.0.1
  CHANGELOG.md
Labels: repo

feat(heath): adding blockchain health
  src/modules/blockchain/evm/ethereum.service.ts
  src/modules/health/blockchain.health.ts
  src/modules/health/health.controller.ts
  src/modules/health/health.module.ts
  src/modules/tokens/tokens-jobs-verify-mint.service.ts
Labels: source

chore(release): 0.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Labels: repo

feat: fetching the rpc connection urls from the configuration table
  src/modules/blockchain/evm/ethereum.service.ts
  src/modules/blockchain/evm/providers/ERC721.provider.ts
  src/modules/configuration/interfaces/schema-generated.ts
  src/modules/database/migrations/1697035272844-EvmConf.ts
  src/modules/tokens/tokens-jobs-verify-mint.service.ts
Labels: source

chore(release): 0.0.3
  CHANGELOG.md
  package-lock.json
  package.json
Labels: repo

feat: updating ethers
  package-lock.json
  package.json
  src/modules/blockchain/evm/ethereum.service.ts
  src/modules/blockchain/evm/providers/ERC721.provider.ts
  src/modules/tokens/tokens-jobs-verify-mint.service.ts
Labels: repo, source

chore(release): 0.0.4
  CHANGELOG.md
  package-lock.json
  package.json
Labels: repo

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

test:
- test/*

source:
- any: ['src/**/*', '!src/docs/*']

important:
- any: ['package.json', '.env.example', 'Dockerfile', '.nvmrc', 'tsconfig.json']

ci:
- any: ['.github/*', 'Dockerfile', 'scripts/check-build-env.mjs']
